<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nina's Insights</title>
    <link rel="icon" href="../public/images/artificial-intelligence.svg">
    <link href="https://fonts.googleapis.com/css?family=Manjari:100,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/error.css">
    <!-- <script src="https://kit.fontawesome.com/406b77ded1.js"></script> -->
</head>
<body>
    <div class="main-container">
        <h1 class="error-msg"> Awww, user lookup resulted in <%= error_msg %> </h1>
        <br>
        <img class="ghost-gif" src="https://pa1.narvii.com/6558/928fcad215cefd6e17bc69b54ae3c7e3866dab68_hq.gif" alt="crying ghost" title="crying ghost">
    </div>
</body>
</html>