<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nina's Insights</title>
    <% include partials/header %>
    <link rel="stylesheet" href="/landingPage.css">
    <script src="https://kit.fontawesome.com/406b77ded1.js"></script>
</head>
<body>

<div class="main-container">
    <h1 class="ws-title">Nina's Insights</h1>
    <img id="brain-pic" src="/ai.png" alt="ai brain" title="ai brain">
    
    <h3 class="ws-desc">
        Analyze a person's personality based off what they write online on Twitter or Reddit using 
        <a href="https://www.ibm.com/watson/services/personality-insights/" target="_blank">IBM's Watson Personality Insights AI</a>.
        You can also write something yourself. 
    </h3>

    <h3> Note that the service needs a minimum of 100 words to work. </h3>
    
    <h2 class="ws-instruct">Click an icon below to start</h2>

    <div class="icon-container">
        <span class="icon twitter"><i class="fab fa-twitter"></i></span> 
        <span class="icon reddit"><i class="fab fa-reddit"></i></span> 
        <span class="icon keyboard"><i class="fas fa-keyboard"></i></span> 
    </div>
    
    <form id="user-search-form" class="hide" action="" method="POST">
        <input id="user-search-box" type="text" placeholder="" name="user_search" autocomplete="off">
        <input id="user-search-btn" class="submit-btn" type="submit">
    </form>
    
    <form id="text-area-container" class="hide" action="/results/personal-text" method="post">
        <textarea placeholder="Place your text here. Only I will judge." name="usertext" cols="100" rows="15"></textarea>
        <input id="pt-btn" class="submit-btn" type="submit" value="Analyze" disabled>
    </form>

    <div id="word-count-div" class="hide">
        <p>Words: <span id="word-count"></span></p>
    </div>

    <script src="/landingPage.js"></script>
</div>

</body>
</html>