<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page Not Found</title>
    <% include partials/header %>
    <link rel="stylesheet" href="/error.css">
</head>
<body>
    <div class="main-container">
        <h1 class="error-msg"> ??? Invalid page. What are you doing ???? </h1>
        <br>
        <img class="squint-gif" src="https://media.giphy.com/media/cFgb5p5e1My3K/giphy.gif" alt="crying ghost" title="crying ghost">
    </div>
</body>
</html>