<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nina's Insights</title>
    <link rel="icon" href="../public/images/artificial-intelligence.svg">
    <link href="https://fonts.googleapis.com/css?family=Manjari:100,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/error.css">
    <!-- <script src="https://kit.fontawesome.com/406b77ded1.js"></script> -->
</head>
<body>
    <div class="main-container">
        <h1 class="error-msg"> ??? Invalid page. What are you doing ???? </h1>
        <br>
        <img class="squint-gif" src="https://media.giphy.com/media/cFgb5p5e1My3K/giphy.gif" alt="crying ghost" title="crying ghost">
    </div>
</body>
</html>