<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portrait</title>
    <% include partials/header %>
    <link rel="stylesheet" href="/results.css">
</head>
<body>

<div class="main-container">
    <h1 class="ws-title">Analysis Results:</h1>
    <h1 class="ws-title">SUMMARY</h1>
    <p> <%= username %> </p>
    <p> <%= summary %> </p>
    <h1 class="ws-title">PERCENTILES</h1>

    <!-- Semicolons matter btw when initializing variables -->
    <% for(let i = 0; i < personalities.length; ++i) { %>
        <div class="big5-trait">
            <div class="drop-btn"> <%= personalities[i].name %> </div>
            <div class="trait-children hide">
                <% for(let j = 0; j < personalities[i].children.length; ++j) { %>
                    <div> <%= personalities[i].children[j].name %> </div>
                <% } %>
            </div>
            <hr>
        </div>
    <% } %>
    
</div>


<!-- Maybe rename to dropdown -->
<script src="/results.js"></script>
</body>
</html>