<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nina's Insights</title>
    <link href="https://fonts.googleapis.com/css?family=Manjari:100,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/results.css">
    <script src="https://kit.fontawesome.com/406b77ded1.js"></script>
</head>
<body>

<div class="main-container">
    <h1 class="ws-title">Analysis Results:</h1>
    <h1 class="ws-title">SUMMARY</h1>
    <p> <%= username %> </p>
    <p> <%= summary %> </p>
    <h1 class="ws-title">PERCENTILES</h1>
    <div class="dropdown">
        <button>Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</div>

<script src="results.js"></script>
</body>
</html>