<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portrait</title>
    <% include partials/header %>
    <link rel="stylesheet" href="/results.css">
</head>
<body>

<div class="main-container">
    <h1 class="ws-title">Analysis Results:</h1>
    <h1 class="ws-title">SUMMARY</h1>
    <p> <%= username %> </p>
    <p> <%= summary %> </p>
    <h1 class="ws-title">PERCENTILES</h1>
    <div class="dropdown">
        <button>Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</div>

<script src="results.js"></script>
</body>
</html>