html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Manjari', times;
}

body {
    background: rgb(245,241,241);
    background: linear-gradient(360deg, rgba(245,241,241,1) 0%, rgba(246,246,246,1) 100%, rgba(255,255,255,1) 100%);

}

a {
    color: #4677ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#brain-pic {
    width: 125px;
    height: 125px;
}

#text-area-container {
    margin-top: 10px;
}

#word-count-div {
    width: 400px;
    font-size: 1.5rem;
    text-align: center;
}

.main-container {
    margin: 25px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ws-title,
.ws-desc,
.ws-intruct {
    text-align: center;
}

.ws-title {
    margin: 20px 0px;
    font-size: 4.2rem;
}

.ws-desc {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 2rem;
}

.icon {
    font-size: 4.5rem;
}

.twitter {
    color: #00aced;
}

.reddit {
    color: #FF5700;
}

.icon:hover {
    cursor: pointer;
}

.hide {
    display: none;
}