html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Manjari', times;
}

body {
    background: #feffae;
}

#personality-traits,
#needs {
    margin-right: 10px;
}

.main-container {
    margin: 20px;
}

.traits-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* Use the following so that containers don't stretch */
    align-items: flex-start;
}

.trait-container {
    width: 220px;
    background: white;
}

.trait {
    position: relative;
    display: block;
}

.sub-trait {
    margin-left: 15px;
    display: block;
}

.trait,
.column-title {
    margin-left: 5px;
}

.hide {
    display: none;
}

/* .big5-trait {
    
} */

.dropdown:hover {
    cursor: pointer;
}
