html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Manjari', times;
}

body {
    background: rgb(245,241,241);
    background: linear-gradient(360deg, rgba(245,241,241,1) 0%, rgba(246,246,246,1) 100%, rgba(255,255,255,1) 100%);
    overflow-y: auto;
}

a {
    color: #4677ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 22px;
    margin: 5px 25px;
}

#personality-traits,
#needs {
    margin-right: 25px;
}

.ws-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 4.2rem;
}

.ws-result-title {
    margin-bottom: 20px;
    font-size: 3.4rem;
    font-weight: 100;
}

.main-container {
    margin: 45px 150px 20px 150px;
}

.traits-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    /* Use the following so that containers don't stretch */
    align-items: flex-start;
}

.column-container {
    width: 280px;
    border: 1.2px solid #dad3d3;
    background: #fffbfb;
    box-shadow: 10px 10px 5px 0px rgba(148, 148, 139, 0.7);
}

.column-title {
    font-size: 22px;
}

.trait,
.column-title {
    margin-left: 5px;
}

.trait {
    position: relative;
    display: block;
    font-size: 20px;
    letter-spacing: 0.6px;
}

.trait + .trait {
    margin-top: 10px;
}

.sub-trait {
    display: block;
}

.sub-trait,
.sub-trait-title {
    margin-left: 15px;
}

.percentile-container {
    margin-bottom: 15px;
}

.percentile-val {
    margin: 0px 25px;
    text-align: right;
    font-size: 18px;
}

.circle {
    position: relative;
    top: 9px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #AA1111;
}

.line {
    width: 85%;
    margin-left: 5%;
    border-bottom: 2px solid black;
}

.hide {
    display: none;
}

.dropdown:hover {
    cursor: pointer;
}

.fa-angle-down,
.fa-angle-up {
    font-size: 12px;
}

